* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}




nav {
    height: 15vh;
}

.logoNav {
    height: 4rem;
}

h1 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
}

h1 span {
    background-color: #e398c4;
    padding: 10px;
    border-radius: 25px;
}

.section1 {
    background-color: #3c4493;
    width: 100%;

}

.section2 {
    background-color: #DC228D;
    width: 100%;
}

.section3 {
    background-color: #3c4493;
    width: 100%;

}

.section4 {
    background-color: #DC228D;
    width: 100%;
}

.sections {
    height: 85vh;
    width: 100%;
    flex: 1;
    transition: flex .5s;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sections:hover {
    flex: 1.2;

}

.sections-toggle {
    flex: 7;
}
.icon {
    width: 8rem;
    padding: 1rem;
}

.subtitulo {
    color: whitesmoke;
}

.form-education{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 400px
}

.img-education {
    width: 100%;
}

.school{
    margin-top: 320px;
    background-color: #fff;
    padding: 20px;
}

.speech {
    width: 800px
}

.speech-description {
    margin: auto;
}

.resources a {
    color: #000;
    text-decoration: none;
}

#exampleModalLabel {
    color: #3c4493
}

.school h2{
    color:#DC228D
}

.speech-description h4{
        color: #DC228D
    }

.modal-header h2 {
    color: #3c4493  
}

.resources {
    color: #DC228D
}
header{
    height: 10vh;
}
#logoNav{
    height: 4rem;
}

main{
    min-height: 80vh;
}

footer{
    height: 6vh;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    gap: 2rem;
}

footer button{
    background-color: #DC228D;
    color: whitesmoke;
}


.pinkBtn{
    background-color: #DC228D;
    transition: .2;
    font-weight: bold;
    color: whitesmoke;
}

.pinkBtn:hover{
    background-color: #b61a75;
    color: whitesmoke;
}