* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}




nav {
    height: 15vh;
}

.logoNav {
    height: 4rem;
}

h1 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
}

h1 span {
    background-color: #e398c4;
    padding: 10px;
    border-radius: 25px;
}

.section1 {
    background-color: #3c4493;
    width: 100%;

}

.section2 {
    background-color: #DC228D;
    width: 100%;
}

.section3 {
    background-color: #3c4493;
    width: 100%;

}

.section4 {
    background-color: #DC228D;
    width: 100%;
}

.sections {
    height: 85vh;
    width: 100%;
    flex: 1;
    transition: flex .5s;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sections:hover {
    flex: 1.2;

}

.sections-toggle {
    flex: 7;
}
.icon {
    width: 8rem;
    padding: 1rem;
}

.subtitulo {
    color: whitesmoke;
}

.form-education{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 400px
}

.img-education {
    width: 100%;
}

.school{
    margin-top: 320px;
    background-color: #fff;
    padding: 20px;
}

.speech {
    width: 800px
}

.speech-description {
    margin: auto;
}

.resources a {
    color: #000;
    text-decoration: none;
}

#exampleModalLabel {
    color: #3c4493
}

.school h2{
    color:#DC228D
}

.speech-description h4{
        color: #DC228D
    }

.modal-header h2 {
    color: #3c4493  
}

.resources {
    color: #DC228D
}
header{
    height: 10vh;
}
#logoNav{
    height: 4rem;
}

main{
    min-height: 80vh;
}

footer{
    height: 6vh;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    gap: 2rem;
}

footer button{
    background-color: #DC228D;
    color: whitesmoke;
}


.pinkBtn{
    background-color: #DC228D;
    transition: .2;
    font-weight: bold;
    color: whitesmoke;
}

.pinkBtn:hover{
    background-color: #b61a75;
    color: whitesmoke;
}

.learn-courses {
    /* background: linear-gradient(to right, #f4c4f3, #fc67fa); */
}

.learn-videos-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.learn-videos {
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 10px;
    background-color: #3c4493;
    /* background-color: #dc228d; */
}

.learn-text {
    text-align: center;
}

.learn-subtitle {
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    background-color: #dc228d;
    color: whitesmoke;
    margin: 1rem 0;
}

.learn-subtitle-2 {
    font-size: 1.5rem;
    display: inline-block;
    border-radius: 2rem;
    background-color: #3c4493;
    padding: 1rem;
    text-align: center;
    color: whitesmoke;
    font-weight: lighter;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.column {
    float: left;
    width: 50%;
}