@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
}

nav {
    background-color: rgb(56, 49, 49);
    /* 
    border: 2px solid #3c4493; */
    width: 100vw;
    height: 22vh;
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
    color: rgb(255 255 255 / 90%);
}



body {
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 80vh;
    overflow: hidden;
    background-image: url("assets/img/sexooo.jpg");
    background-size:cover;
    background-position-y: 50px;

}

#triangle-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

#middle-triangle {
    width: 0;
    height: 0;
    border-left: 80vh solid #dc228f7f;
    border-top: 50vw solid transparent;
    border-bottom: 50vw solid transparent;
    transform: rotate(90deg);
    position: absolute;
    top: -71.5vh;
}

#logo {
    position: absolute;
    top: 26vh;
    z-index: 2;
}

a {
    z-index: 3;
    text-decoration: none;
    color: white;
    font-size: 3rem;
    font-family: 'Dosis' serif;
    text-shadow: 2px 2px black;
}

#educationLink {
    position: absolute;
    left: 3.5vw;
    top: 40vh;
    transition: 500ms;
}

#educationLink:hover {
    transform: scale(1.1);
    color: black;
}

#healthLink {
    position: absolute;
    right: 7vw;
    top: 40vh;
    transition: 500ms;
}

#healthLink:hover {
    transform: scale(1.1);
    color: black;
}

#diversityLink {
    position: absolute;
    top: 67vh;
    transition: 500ms;
}

#diversityLink:hover {
    scale: 1.1;
    color: black;
}

.icon {
    width: 8rem;
    padding: 1rem;
}

#sportsLink {
    position: absolute;
    top: 6vh;
    left: calc(width/2 -50vw);
    z-index: 3;
    color: white;
    font-size: 3rem;
    transition: 500ms;
}

#sportsLink:hover{
    scale: 1.1;
}

.section1 {
    
    width: 100%;

}

.section2 {
    
    width: 100%;
}

.section3 {
    
    width: 100%;

}

.section4 {
    
    width: 100%;
}

.sections {
    height: 20vh;
    width: 100%;
    flex: 1;
    transition: flex .5s;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}